<h1>CavernUs Mine Page</h1>

<div ng-repeat="mine in $ctrl.mines">
    Name: {{ mine.name }}
    <br/>
    Description: {{ mine.description }}
    <p ng-repeat="post in mine.posts">
    Posts: {{ post.title }}
    </p>
    <div ng-repeat="trip in mine.trips">
        Posts: {{ trip.description }}
        <div ng-repeat="member in trip.trip_members">
            Hounds: {{ member }}
        </div>
    </div>
</div>
<form>
    <label>Mine Name</label>
    <input ng-model="$ctrl.newMine.name" />
    <br/>

    <label>Mine Location</label>
    <input ng-model="$ctrl.newMine.address" />
    <br/>

    <label>Mine Description</label>
    <textarea ng-model="$ctrl.newMine.description"></textarea>
    <br/>

    <button ng-click="$ctrl.saveMine()">Create Mine</button>
</form>