<h1>CavernUs Home Page</h1>
<p>
    {{ $ctrl.message }}
</p>

<p ng-repeat="mine in $ctrl.mines">
    Name: {{ mine.name }}
    <br/>
    Description: {{ mine.description }}
<!--<p ng-repeat="post in $ctrl.posts">-->
    <!--Posts: {{ post.title }}-->
<!--</p>-->
</p>

<div ng-repeat="user in $ctrl.users">
    Name: {{ user.username }}
    <br/>
    Bio: {{ user.bio }}
    <br/>
    <p ng-repeat="post in user.posts">
        {{ post.title }}
        {{ post.content }}
    </p>
</div>

<!--{{ $ctrl.users }}<br>-->

{{$ctrl.users.posts}}
<!--{{ $ctrl.posts}}-->

<!--<div ng-repeat="user in $ctrl.users">-->
    <!--<p ng-repeat="post in user.posts">-->
        <!--{{ post.title }}-->
        <!--{{ post.content }}-->
    <!--</p>-->
<!--</div>-->

<!--TEMPLATE FOR GETTING JOIN DATA ON FE-->
<div ng-repeat="user in $ctrl.users">
    <p>{{ user.username }}</p>

    <p>{{ user.bio }}</p>

    <p ng-repeat="post in user.posts">
        {{ post.title }}
        {{ post.content }}
    </p>
</div>


