<div class="align-center">
    <img src="https://image.ibb.co/iF13qk/cavern_Us_Logo_Sm.png">
</div>
    <div class="base-container">
    <h1>CavernUs</h1>
    <h2>The social site for Rockhounds</h2>
    <div class="splash-block">
        <p>CavernUs is a site for rockhounds to post about their recent rockhounding trips, show off their specimens and create group trips. Check out the mines, view what others have said and join in to some trips to see what you can find!</p>
        <a href="/users/sign_in">
            <button type="button" class="btn btn-default">Log In</button>
        </a>
        <a href="/users/sign_up">
            <button type="button" class="btn btn-default">Sign Up</button>
        </a>
    </div>
</div>